
<html>
  <head>
    <meta charset="utf-8">
      <title>The Humans</title>
        <link rel="stylesheet" href="assets/stylesheets/application.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>


<body>
  <ul class="navbar">
      <li> <a href="index.html.erb" style="width:20%">Home</a> </li>
      <li> <a href="all_humans.html.erb" style="width:20%">The Humans</a></li>
      <li> <a href="/dogs/index.html.erb" style="width:20%">The Dogs</a></li>
      <li> <a href="The Cats" style="width:20%">The Cats</a></li>
      <div class="clearfix" ></div>
      <div class="clearfix" ></div>
    </ul>



<div class="container">


<h1>Clintonville Humans</h1>
<div class="left_side">
  <% @humans.each do |human| %>

  <%= image_tag "human.jpg", alt: "Default Human Image", height: '150px' %>
      <p>Human: <%= human.full_name %></p>
      <p>Address: <%= human.address %></p>
      <p>Age: <%= human.age %></p>

    <% end %>

</div>





<div class="right_side">

</div>


</div>

</body>
