/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";

body {
 background-color: #ccffb3;
 margin: 0;
 padding: 0px;
 background-image: asset-url("stressed-linen.png");
 font-family: 'Roboto', sans-serif;
 }

img {
  border:2px solid #000000;
  margin-bottom: 15px;
 }


h1 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1;
  font-size: 18px;
  line-height: 0.75;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  list-style-type: none;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

ul li a {
  text-decoration: none;
  float: left;
  padding: 15px;
  padding-right: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.navbar li a:active {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

ul.navbar li a:hover {
  color: #ffffff;
  background-color: #ff9933;
}

.clearfix {
  clear: both;
}

.left_side {
  align-items: center;
}

// .right_side {
//   float: right;
//   width: 70%;
// } */

.big-box,
.mini-box {
  color: black;
  text-align: left;
  border-bottom: 2px solid #ff9933;
  margin-top: 15px;
}

.small-box {
  height: 750px;
  border-bottom: 2px solid #ff9933;
  margin-top: 15px;
  border-right: 2px solid red;
}

.mini-box {
  height: 750px;

}


.btn-group .button {
  position: sticky;
  background-color: #ff9933;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  float: inherit;
}
