/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";

body {
 background-color: #ccffb3;
 margin: 0;
 padding: 0px;
 background-image: url("stressed-linen.png");
 font-family: 'Roboto', sans-serif;
 }

img {
  border:2px solid #000000;
 }


h1 {
  font-size: 40px;
  text-align: center;
}

p {
  line-height: 1;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  list-style-type: none;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;

}

ul li a {
  text-decoration: none;
  float: left;
  padding: 15px;
  padding-right: 20px;
  text-transform: uppercase;
  color: #000000;
}


.navbar li a:active {
  text-decoration: none;
  list-style: none;
  color: #000000;

}


ul.navbar li a:hover {
  color: #ffffff;
  background-color: #ff9933;
}

.clearfix {
  clear: both;
}

/* .left_side {
  float: left;
  width: 25%;
  margin-left: 20px;
}

.right_side {
  float: right;
  width: 70%;
} */





.big-box,
.mini-box {
  color: black;
  text-align: left;
  border-bottom: 2px solid #ff9933;

}

.big-box {
  height: 300px;
  border-bottom: 2px solid #ffffff;

}

.mini-box {
  height: 99px;
  border-right: 2px solid red;

}
