<div class="left_side">
  <% @humans.each do |human| %>

  <%= image_tag "human.jpg", alt: "Default Human Image", height: '150px' %>
      <p>Human: <%= human.full_name %></p>
      <p>Address: <%= human.address %></p>
      <p>Age: <%= human.age %> years old </p>
      <%= human.dogs.each do |dog| %>
      <%= image_tag "dog.png", alt: "Default Dog Image", height: '100px' %>
          <p>Name: <%= dog.name %></p>
          <p>Breed: <%= dog.breed %></p>
          <p>Weight: <%= dog.weight %> lbs </p>
          <p>Age: <%= dog.age %> years old</p>
      <% end %>

  <% end %>
</div>

<%= human.cats.each do |cat| %>
