<!DOCTYPE html>
<html>
  <head>
    <title>Humans & Dogs & Cats</title>
      <%= csrf_meta_tags %>
      <!-- <link rel="stylesheet" href="assets/stylesheets/application.css"> -->
      <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="navbar">
          <li> <a href="/" >Home</a> </li>
          <li> <a href="/humans" >The Humans</a></li>
          <li> <a href="/dogs/" >The Dogs</a></li>
          <li> <a href="/cats" >The Cats</a></li>
          <div class="clearfix" ></div>
          <div class="clearfix" ></div>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
